[game]
logDir=./log/
port=10000
battleAgentNum=5
connectAgentNum=5
gameNum=1
maxTalkNum=3
maxTalkTurn=20
parallelRunningGameNum=1
responseTimeout=6000
actionTimeout=3000
saveLog=true
continueExceptionAgent=true
matchSameIpOnly=false
talkOnFirstDay=true
singleAgentPerIp=false
idleConnectionTimeout=24
requiredAgentName=
prioritizeCombinations=false
debugMode=false
synchronousMode=true
joinHuman=false
humanName=Human
humanRole=SEER
humanAgentNum=3
isServer=false
listenPort=false
saveRoleCombination=false
roleCombinationDir=./log/
roleCombinationFilename=DoneCombinations
allParticipantNum=6
continueOtherCombinations=false
continueCombinationsNum=3
player1Ip=127.0.0.1
player1Port=50000
player2Ip=127.0.0.1
player2Port=50001
player3Ip=127.0.0.1
player3Port=50002
player4Ip=127.0.0.1
player4Port=50003
player5Ip=127.0.0.1
player5Port=50004
