[Config]
; ### 対戦ログ出力設定 ###
; true: 対戦ログを出力する
; false: 対戦ログを出力しない
saveGameLog=true
; 対戦ログの出力先ディレクトリ
gameLogDir=./log/game/
; ロールの組み合わせの出力先ディレクトリ
comboLogDir=./log/combo/

; ### 接続設定 ###
; クライアントモードで起動する場合のエージェントの接続先ポート一覧
agentAddresses=[127.0.0.1:50000, 127.0.0.1:50001, 127.0.0.1:50002, 127.0.0.1:50003, 127.0.0.1:50004]

; ### マッチング設定 ###
; ロールの組み合わせを再開する場合のログファイル名
; 新規ロールの組み合わせの場合は空白
resumeComboLogPath=

; ### ゲーム設定 ###
; 対戦するエージェントの数
battleAgentNum=5
; 1エージェントが1日に発話できる最大回数
maxTalkNum=5
; 1日に発話できる最大ターン数
maxTalkTurn=20
; true: 初日にエージェント同士で話し合う
; false: 初日にエージェント同士で話し合わない
talkOnFirstDay=true
; エージェントの接続待ち時間 (ミリ秒)
responseTimeout=120000
; エージェントのアクション待ち時間 (ミリ秒)
actionTimeout=60000
; true: エージェントで発生した例外を無視してゲームを続行する (推奨)
; false: エージェントで発生した例外を無視せず、ゲームを中断する
ignoreAgentException=true